/*header*/
	/*seccion 1 header*/
.im-s1{
	background-color: #F4F5F7;
}
header .list-inline a{
	font-size: 12px;
	color: #7E7E7E;
	font-weight: 600;
}
header .btn{
	margin-bottom: 1%;
}
.icon-im{
	display: inline-block;
	margin: 0 1%;
}
.icon-im .fa-twitter{
	color: #00B8DB;
}
.icon-im .fa-google-plus{
	color: #EF4F34;
}
.icon-im .fa-envelope{
	color: #FFC000;
}
.icon-im .fa-rss{
	color: #F49348;
}
/*buscador*/
.container-1{
	display: inline-block;
	position: relative;
}
.container-1 input#search{
	width: 120px;
	font-size: 10pt;
	float: left;
	color: rgba(128, 128, 128, 0.36);
}
.container-1 i{
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: 1;
	color: rgba(128, 128, 128, 0.36);
}
input[type="search"] {
	-webkit-appearance: none;
	background-color: #F4F5F7;
}
/* /. buscador*/
/*seccion 2 header*/
.im-s2{
	padding-top: 3%;

}
.im-s2 a{
	text-decoration: none;
	color: black;
}
.im-s2logo{
	margin-bottom: 4%;
}
.im-s2-box1{
	border: 1px solid #cccccc;
	height: 70px;
	padding-top: 9%;
	border-bottom: 3px solid #AE0808;
	position: relative;
	font-weight: 600;
	font-size: 13px;
}
.im-dom{
	background-color: #AE0808;
	color: white;
	padding: 2%;
	width: 90px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -25%;
}
.im-s2-box2{
	position: relative;
}
.navbar-brand img{
	margin: 4% 0 0 1%;
}
.im-editorial{
	background-color: #283036;
	z-index: 1;
	padding: 3% 1%;
	height: 70px;
}
.im-corrup{
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 5px 0 0 5px;
	padding: 1% 2%;
	width: 93%;
	z-index: 3;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
}
.im-corrup h5{
	font-weight: 600;
	font-size: 16px;
}
.im-autor{
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}
/*seccion 3 header*/
.pagination {
	margin: 15px 0 0 0;
}
.pagination > li > a, .pagination > li > span{
	color: #ffffff;
	background-color: #D90C0C;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 10px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	background-color: #003376;
	color: #ffffff;
}
/*seccion 4 header*/
.im-temas{
	margin-top: 1%;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	font-size: 13px;
}
.im-temas li:first-child {
	background-color: black;
	border-radius: 4px 0 0 4px;
	padding: 6px 10px;
}
.im-temas li a{
	color: #7E7E7E;
}
.im-temas li:first-child a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}
.list-inline {
	margin-left: 0;
}
.im-s4{
	margin-top: 1%;
}
