/* Inserta tu código de la página home/index acá */
/* footer pris*/
.pbcuatro{
	margin: 0;
	padding-left: 10%;
	color:#565555;
}
.pbtres{
	color:#565555;
}
.pbpb{
	font-size: 13px;
}
.pbfondo{
background-color: #E4E4E4;
padding: 5% 0 1% 0;
}
.pblogo{
	margin-top: 40%;
}
/*lineas y texto final*/
.pblineavertical{
	border-left:  1px solid white;
}
.pblineaverticaldos{
	border-left:  1px solid #D5D3D3;
     margin-left: -6%;
}
.pblineados{
	border: 1px solid white;
	margin:0 0 1% 0;
}
.pblinea{
	margin:2% 0 0 0;
	border: 1px solid #D5D3D3;
}
.pbtermino{
	color:#565555;
}
/*footer negro*/
.pbfooterr{
	background-color: black;
	color:white;
	padding: 2% 0 3% 0;
}
/*estilos nadia*/
/*estilos cuatro fotos fut.+sidebar*/
.row .nad{
	margin:0%;
}
.tap{
	border:1px solid grey;
	margin:2%;
	padding:3% 0%;
}

.nared{
	background-image:url(../image/img_especiales.jpg);
	background-size:cover;
	background-position:center;

	
}
.nablue{
	background-image:url(../image/img_especiales.jpg);
	background-size:cover;
	background-position:center;
	
}
.nayellow{
	background-image:url(../image/img_especiales.jpg);
	background-size:cover;
	background-position:center;
	
}
.nablack{
	position:relative;
	background-image:url(../image/img_especiales.jpg);
	background-size:cover;
	background-position:center;
	
}
.natext{
	margin:0%; 
}

h4{
	color:#D90C0C;
}
.texto{
	color:white;
	padding-bottom:2%;
}
a{
	text-decoration:none;
	color:white;
}
.grad{
	background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
	color:white;
	padding-top:45%;
}
.txt{
	padding: 1%;
}
.banner{
	padding:1%;
}
@media (max-width:700px){
	.banner{
		display: none;
	}
}
/*fin estilos nadia*/

