/* Inserta tu código de la página home/index acá */
/* recuerden poner sus iniciales antes de cada selector de sus estilos/*
/*no borre sus comentarios al contrario agregue*/

/*estilos Ingrid */

/*estilos Jo*/
.jredes .jpoli{
	color: gray;
	font-size: 80%;
}
.jredes span{
	font-size: 90%;
}
.jpuntito{
	margin-left: 4%;
}
.jtitulo{
	font-size: 350%;
}
.jseparar{
	margin-left: 4%;
}
.jpuntito2{
	margin-left: 2%;
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}
.jgradiente .jpolitica{
	color:white;

}
.jfondo{
	background-image: url(../image/img_grid_principal.jpg);
	width: 100%;
	height: 506px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color:white;
	margin-top: 5%;
}


.jgradiente{
	padding: 71% 3% 1% 3%;
	width: 100%; 
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin-top: 5%;
}

.jfondo ul {
	
	position: relative;
	top:-7%;
	margin-left: 23%;
	list-style-type:circle;	

}
.jfondo ul li{
	display: inline-block;
	margin-left: 10%;
	padding-bottom: -9%;
	list-style-type: disc;
	font-size: 80%;
	
}
.jpolitica{
	
	font-size: 80%;
}
.jminutos{
	
	font-size: 80%;
}

.jfondo ul li a{
	color:white;
}
.jfondo2 .jpolitica{
	color:white;
}
.jfondo2{
	background-image: url(../image/img_grid_secundario.jpg);
	width: 100%;
	height: 240px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color:white;
	margin-top: 5%;

}
.jgradiente2{
	padding: 21% 3% 0% 3%;
	width: 100%; 
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', e
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.jgradiente2 ul li {
	margin-left: 20%;
}
.jgradiente2{
	padding: 30% 3% 0% 3%;
	width: 100%; 
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', e
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.jfono2 #jlista-ch1 ul{
	margin-left:50% !important;
}


.jgradiente3{
	padding: 30% 3% 3% 3%;
	width: 100%; 
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', e
}
.jlista1{
	display: inline-block;
	margin-left: 2%;
	padding-bottom: -9%;
	
}


.jfotos{
	padding: 10%;
}
.jlista a{
	color:white;

}
.jpad{
	margin: 10%;
}

/*estilos Marcia*/

/*estilos Nadia*/

/*estilos Regina*/

/*estilos Pris*/