/* Inserta tu código de la página home/index acá */
/*Columnistas marcia*/
.columnistas{
	background: #F2F2F2;
	position: relative;
	border-top: 2px solid #C71100;
	padding: 0% 2%;
	margin-top: 5%;
}

.red-m{
	background:#C71100;
	position: relative;
	margin-bottom: 2%;
	left: 37%;
	margin-top: -1%;
}

.red-m h3{
	color:#FFFFFF;
	margin: 3%;
}

.columnistas-m{
	border:3px solid #fff;
}

.nombre-m{
	font-size: 11px;
}

.columnistas p{

}
@media (max-width:800px ){
	.red-m{
		left: 20%;
	}
}
/* footer pris*/
.pbcuatro{
	margin: 0;
	padding-left: 10%;
	color:#565555;
}
.pbtres{
	color:#565555;
}
.pbpb{
	font-size: 13px;
}
.pbfondo{
background-color: #E4E4E4;
padding: 5% 0 1% 0;
}
.pblogo{
	margin-top: 40%;
}
/*lineas y texto final*/
.pblineavertical{
	border-left:  1px solid white;
}
.pblineaverticaldos{
	border-left:  1px solid #D5D3D3;
     margin-left: -6%;
}
.pblineados{
	border: 1px solid white;
	margin:0 0 1% 0;
}
.pblinea{
	margin:2% 0 0 0;
	border: 1px solid #D5D3D3;
}
.pbtermino{
	color:#565555;
}
/*footer negro*/
.pbfooterr{
	background-color: black;
	color:white;
	padding: 2% 0 3% 0;
}

